*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.header h2{
   float: left;
   position: absolute;
   padding: 10px 0px 0 15px;
   font-size: 28px;
   cursor: pointer;
   color: #F1F0CC;
}
.header ul{
    width: 100%;
    height: 55px;
    background-color: #DB222A;
    list-style: none;
    float: right;
}
.header ul li{
  display: inline-block;
  float: right;
  padding: 12px 20px;
}
.header ul li a{
    color: #F1F0CC;
    text-decoration: none;
    font-size: 26px;
}
.header ul li i{
    display: none;
    padding: 0;
}
.header ul li a:hover{
    border-bottom: 5px solid white;
    transition: 0.2s;
}
.bgImg{
    width: 100%;
    border-bottom: 5px solid blue;
    height: 680px;
    margin-bottom: 5px;
}
.bgImg img{
    width: 100%;
    height: 100%;
    filter: brightness(90%) saturate(200%);
    border-bottom: 4px solid white;
}
.bgImg .text{
    width: 280px;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F1F0CC;
    text-shadow: 0px 0px 5px black;
    text-align: center;
}
.bgImg .text h2{
    font-size: 43px;
}
.bgImg .text p{
    font-size: 24px;
    text-shadow: 0px 0px 3px black;
}
.bgImg .text .dot{
    width: 30px;
    height: 30px;
    background-color: white;
    box-shadow: 0px 0px 6px white ;
    border-radius: 50%;
    display: inline-block;
    margin-top: 5px;
    cursor: pointer;
    border: 2px solid black;

}
.bgImg .text .dot:hover{
    background-color: navy;
}
.two-section{
    width: 100%;
    height: 430px;
    background-color: #DB222A;
    display: flex;
    justify-content: space-between;
    border-bottom: 6px solid navy;
}
.two-section img{
    width: 50%;
}
.two-section .sec-text{
   width: 50%;
   text-align: center;
   height: 200px;
   position: relative;
   top: 22%;
   color: white;
}
.two-section .sec-text h2{
    font-size: 38px;
}
.two-section .sec-text p{
    font-size: 18px;
    width: 80%;
    margin: auto;
}
.two-section .sec-text button{
    margin-top: 7px;
    background-color: white;
    color: #DB222A;
    padding: 7px 15px;
    border-radius: 0;
    border: none;
    cursor: pointer;
    font-size: 23px;
    font-weight: bold;
}
.image-feature{
    width: 100%;
    height: 400px;
    background-color: #2e282a;
    border-bottom: 4px solid blue;
}
.image-feature #img{
    position: relative;
    top: 40%;
    left: 40%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 0;
    cursor: pointer;
    width: 390px;
    height: 250px;
}

.image-feature .reserve-img{
    position: relative;
    transform: translate(-50%, -50%);
    top: -10%;
    left: 85%;
    margin: 0;
    padding: 0;
    width: 200px;
}
.image-feature .reserve-img img{
    width: 170px;
    height: 100px;
    display: block;
    margin: 0;
    padding: 0;
   cursor: pointer;
}
.image-feature .dots{
    width: 155px;
    height: 44px;
    background-color: blue;
    border-radius: 30px;
    border: 4px solid white;
    position: relative;
    transform: translate(-50%, -50%);
    top: -50%;
    left: 50%;
    display: flex;
    justify-content: center;
}
.image-feature .dots .dott{
    width: 25px;
    height: 25px;
    background-color: white;
    display: inline-block;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}
.image-feature .dots .dott:hover{
    background-color: #DB222A;
}
.our-services {
    width: 100%;
    height: 315px;
    background-color: #D9D3D3;
    border-bottom: 5px solid blue;
}
.our-services .boxs{
   display: flex;
   flex-direction: row;
   margin: auto;
   justify-content: center;
}
.our-services  .box {
    width: 240px;
    height: 280px;
    background-color: rgb(241, 228, 228);
    margin: 15px 5px 0 5px;
    border-radius: 24px;
    border: 3px solid #DB222A;
    text-align: center;
    cursor: pointer;
}
.our-services .box:hover {
    box-shadow: 0px 0px 14px #DB222A;
    transition: 0.5s;
    background-color: #DB222A;
    color: white;
    text-shadow: 0px 0px 4px white;
}
.our-services .box h4{
    font-size: 24px;
    color: blue;
}
.our-services .box p{
    width: 80%;
    font-size: 18px;
    margin: auto;
    margin-top: 4px;
}
.ceo{
    width: 100%;
    height: 350px;
    background-color: #DB222A;
    border-bottom: 5px solid blue;
    display: flex;
}
.ceo img{
    width: 50%;
    height: 100%;
}
.ceo .ceo-text{
    width: 38%;
    text-align: left;
    margin: auto;
    color: white
}
.ceo .ceo-text i{
    font-size: 55px;
}
.ceo .ceo-text h3{
    font-size: 33px;
    margin-top: -35px;
    margin-left: 60px;
}
.ceo .ceo-text h4{
    font-size: 23px;
    padding-top: 5px;
}
.ceo .ceo-text p{
    font-size: 18px;
}
.trucky{
    width: 100%;
    height: 65px;
    background-color: #EDE7E3;
    border-bottom: 5px solid blue;
}
.trucky h4{
    color: #2e282a;
    font-size: 38px;
    text-align: center;
    padding-top: 8px;
}
.trucky h4 a{
    text-decoration: none;
    color: #2e282a;
} 
#up i{
    width: 60px;
    height: 60px;
    background-color: #DB222A;
    font-size: 40px;
    text-align: center;
    margin: auto;
    color: white;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    right: 0;
     border-radius: 50%;
     margin: 4px;
}
#up i:hover{
    color: blue;
    transition: 0.4s;
}
.footer{
    width: 100%;
    height: 250px;
    background-color: #1E1E24;
}
.footer .footer-container{
    display: flex;
    width: 90%;
    height: 200px;
    margin: auto;
    justify-content: space-between;
    padding-top: 10px;
    flex-wrap: wrap;
}
.footer .social-medias{
    margin-right: 20px;
    margin-top: 10px;
}
.footer .social-medias i{
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 30px;
    cursor: pointer;
    border: 3px solid white;
    border-radius: 50%;
    margin-top: 5px;
    padding: 10px;
    justify-content: center;
}
.footer .social-medias i:hover{
    background-color: #390099;
    border-color: #390099;
    transition: 0.5s;
  text-shadow: 0px 0px 12px white;
}
.footer .footer-ul {
    list-style-type: none;
    margin-top: 35px;
    margin-right: 20px;
}
.footer .footer-ul li{
    margin-top: 4px;
    margin-bottom: 4px;
}
.footer .footer-ul li a{
    color: white;
    text-decoration: none;
    font-size: 24px;
    padding: 0;
}
.footer .footer-ul li a:hover{
    border-bottom: 3px solid white;
}
.footer .footer-services {
    margin-top: 24px;
    list-style-type: none;
    margin-right: 20px;
}
.footer .footer-services h4{
    color: white;
    font-size: 24px;
}
.footer .footer-services li{
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}
.copyright {
    width: 100%;
    height: 40px;
    background-color: rgb(23, 20, 48);
    border-top: 1px solid white;
}
.copyright p{
    font-size: 24px;
    color: white;
    text-align: center;
    padding-top: 5px;
}

@media  screen and (min-width: 1300px) {
    .two-section .sec-text{
        top: 26%;
    
    }
}
@media screen and (min-width: 1024px){
    .two-section .sec-text h2{
        margin-bottom: 10px;
    }
    .two-section .sec-text p{
        margin-bottom: 10px;
    }
}
@media screen and (max-width: 768px){
    .bgImg{
        height: 510px;
    }
    .two-section .sec-text{
        top: 17%;
    }
    .two-section .sec-text p {
        width: 90%;
    }
    .image-feature #img{
        left: 30%;
        width: 370px;
        height: 230px;
    }
    .image-feature .reserve-img{
        width: 170px;
    }
}
@media screen and (max-width: 600px){
   .header ul li a{
    display: none;
   }
   .header ul li i{
       display: block;
       color: white;
       font-size: 40px;
       padding: 0;
       margin-top: -5px;
   }
   .two-section {
       height: 700px;
       flex-direction: column;
   }
   .two-section img{
       width: 100%;
       height: 45%;
   }
   .two-section .sec-text{
       width: 100%;
       height: 50%;
       top: 13%;
   }
   .image-feature{
       height: 700px;
   }
   .image-feature #img{
      position: relative;
      top: 17%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 360px;
      height: 220px;
   }
   .image-feature .dots{
        position: relative;
        transform: translate(-50%, -50%);
        top: -25%;
        left: 50%;
   }
   .image-feature .reserve-img{
       width: 200px;
       height: 200px;
       position: relative;
        transform: translate(-50%, -50%);
        top: 25%;
        left: 50%;
   }
   .our-services {
       height: 610px;
   }
  .our-services .boxs{
      flex-direction: row;
      flex-wrap: wrap;
  }
  .ceo {
      height: 600px;
      flex-direction: column;
  }
  .ceo img{
      width: 100%;
      height: 50%;
  }
  .ceo .ceo-text{
      width: 88%;
      height: 50%;
      position: relative;
      transform: translate(-50%, -50%);
      top: 26%;
      left: 45%;
      margin: auto;
  }
  .ceo .ceo-text i{
      font-size: 43px;
  }
  .ceo .ceo-text h3{
      font-size: 32px;;
  }
  .ceo .ceo-text h4{
      font-size: 22px;
  }
  .ceo .ceo-text p{
      font-size: 17px;;
  }

}
@media screen and (max-width: 500px){
    .our-services{
        height: 900px
    }
}
@media screen and (max-width: 430px) {
    .footer {
        height: 410px;
    }
}
@media screen and (max-width: 400px){
    .image-feature .reserve-img{
        position: relative;
        transform: translate(-50%, -50%);
        top: 40%;
    }
    .image-feature #img{
        position: relative;
        top: 14%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 250px;
        height: 150px;
        margin: 0;
        margin-top: 50px;
     }
     .image-feature .dots{
        position: relative;
        transform: translate(-50%, -50%);
        top: -15%;
        left: 50%;
   }
    .bgImg{
        height: 380px;
    }
    .bgImg .text h2{
        font-size: 30px;
    }
    .bgImg .text p{
        font-size: 18px;
        font-weight: bold;
        text-shadow: 2px 2px 3px black
                    -2px -2px 3px black;
    }
    .bgImg .text .dot{
        width: 20px;
        height: 20px;
    }
    .two-section .sec-text {
        top: 8%;
    }
    .two-section .sec-text h2{
        font-size: 32px;
    }
    .two-section .sec-text p {
        font-size: 18px;
        width: 97%;
    }
    .ceo .ceo-text i{
        font-size: 36px;
    }
    .ceo .ceo-text h3{
        font-size: 28px;
        margin-left: 36px;
    }
    .ceo .ceo-text h4{
        font-size: 19px;
    }
    .ceo .ceo-text p{
        font-size: 16px;
    }
    .copyright p{
        font-size: 19.5px;
    }

}

@media screen and (max-width: 300px){
    .image-feature #img{
        position: relative;
        top: 14%;
        left: 45%;
        transform: translate(-50%, -50%);
        width: 200px;
        height: 120px;
     }
     
     .image-feature .reserve-img{
        position: relative;
        transform: translate(-50%, -50%);
        top: 35%;
    }
    .image-feature .dots{
        position: relative;
        transform: translate(-50%, -50%);
        top: -15%;
        left: 50%;
   }
   .bgImg .text{
    width: 100%;
    height:auto;
    position: relative;
    top: -50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #F1F0CC;
    text-shadow: 0px 0px 5px black;
    text-align: center;
}
   .two-section .sec-text h2{
       font-size: 24px;
   }
   .two-section .sec-text p{
       font-size: 16px;
   }
   .two-section .sec-text button{
       font-size: 20px;
   }
   .two-section img{
       height: 38%;
   }
  .copyright{
      height: 53px;
  }
}
